{% extends 'index.html' %}




{% block content %}
<style> body {background-color: black} </style>

<div class="container d-flex justify-content-center align-items center">
    <div class="row mt-5 p-5 shadow rounded border border-info w-80 bg-secondary">
            <form class="row g-3" method="POST">
                {{ form.hidden_tag() }}
                <h3 class="text-light">Log Into Your Account</h3>
                
                <div class="col-6">
                    {{ form.email.label(class = 'text-light') }}
                    {{ form.email(class='form-control mt-2 bg-dark text-light', placeholder = 'email@gmail.com' )}}
                    {% for error in form.email.errors %}
                        <span class="err-msg">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-6">
                    {{ form.password.label(class = 'text-light') }}
                    {{ form.password(class='form-control mt-2 bg-dark text-light', placeholder = 'password' )}}
                    {% for error in form.password.errors %}
                        <span class="err-msg">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-12">
                    {{ form.remember_me() }} {{ form.remember_me.label(class = 'text-light') }}
                </div>
                <div class="col-12">
                    {{ form.submit(class='btn btn-info text-light') }}
                </div>

            </form>
        </div>
    </div>
</div>







{% endblock content%}

