{% extends 'index.html' %}


{% block content %}

<style> body {background-color: black} </style>
<div class="container d-flex justify-content-center align-items center">
    <div class="row mt-5 p-5 shadow rounded border border-info w-80 bg-secondary">
        <div class="col text-light ">
            <form class="row g-3" method="POST">
                {{ form.hidden_tag() }}
                <h3>Join FrenchiePage now!</h3>
                <div class="col-md-6">
                    {{ form.first_name.label }}
                    {{form.first_name(class='form-control mt-2 bg-dark text-light', placeholder = 'Fred')}}
                </div>
                <div class="col-md-6">
                    {{ form.last_name.label }}
                    {{form.last_name(class='form-control mt-2 bg-dark text-light', placeholder = 'Flinstone')}}
                </div>
                <div class="col-12">
                    {{ form.username.label }}
                    {{ form.username(class='form-control mt-2 bg-dark text-light', placeholder = 'FFred12' )}}
                    {% for error in form.username.errors %}
                        <span class="err-msg">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-12">
                    {{ form.email.label }}
                    {{ form.email(class='form-control mt-2 bg-dark text-light', placeholder = 'FlinstoneFred@gmail.com' )}}
                    {% for error in form.email.errors %}
                        <span class="err-msg">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-6">
                    {{ form.password.label }}
                    {{ form.password(class='form-control mt-2 bg-dark text-light', placeholder = 'password' )}}
                    {% for error in form.password.errors %}
                        <span class="err-msg">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-6">
                    {{ form.verify_password.label }}
                    {{ form.verify_password(class='form-control mt-2 bg-dark text-light', placeholder = 'password' )}}
                    {% for error in form.verify_password.errors %}
                        <span class="err-msg">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-12">
                    {{ form.submit(class='btn btn-info text-light') }}
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}
