 <!-- Site footer -->
 <DOCTYPE html>
    <link rel="stylesheet" href="static/css/footer.css">

 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-info"> Are you tired of your dog's social life being limited to the local park or neighborhood walks? Welcome to FrenchiePage, the premier networking site exclusively for our furry friends! Whether you have a playful pup, a senior companion, or a high-energy adventurer, FrenchiePage is the ultimate online community designed to bring dogs and their owners closer together. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 class="text-info">Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/login">Log in</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Community</a></li>
            <li><a href="/">Privacy Policy</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="/">FrenchiePage</a>.
          </p>
        </div>

        </div>
      </div>
    </div>
</DOCTYPE>