<ul class="nav justify-content-center bg-dark">
    <li class="nav-item">
      <a class="nav-link link-light active " aria-current="page" href="/">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/resources">Resources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/signup">Create Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="/login">Log in</a>
    </li>
  </li>
  <li class="nav-item">
      <a class="nav-link link-light" href="/logout">Log out</a>
  </li>
  </ul>